ul, li {
  line-height: 1;
  list-style: none;
  margin: 0;
  padding: 0;
}

.search {
    margin-bottom: 30px;
}

    .search input {
        border: none;
        border-bottom: 2px solid #CCC;
        border-radius: 0;
        box-shadow: none;
        font-size: 18px;
    }

    .search input:focus {
        box-shadow: none;
    }

.packages__toggle {
    border: 1px solid #DEDEDE;
    margin-bottom: 30px;
    padding: 15px;
}

    .packages__toggle strong {
        display: block;
        margin-bottom: 10px;
    }

    .packages__toggle a {
        color: #333;
        display: inline-block;
        padding: 10px;
        text-decoration: none;
    }

    .packages__toggle a.active,
    .packages__toggle a:hover {
        background: #5791CC;
        color: #FFF;
        text-decoration: none;
    }

.packages__package {
    border-bottom: 1px solid #DEDEDE;
    margin-bottom: 25px;
    padding-bottom: 25px;
}

.packages__package a {
    color: #2E2E2E;
    display: block;
    text-decoration: none;
}

.packages__package a:hover {
    text-decoration: none;
}

.packages__package strong {
    margin-right: 4px;
}

.packages__package small {
    color: #656565;
}